.main{
    margin: 30px;
    background-color: white;
}

body{
    background-color: #efefef;
}

.btn-publish{
    margin-bottom: 15px;
    float: right;
}

.media-object{
    height: 40px;
    width: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.section{
    margin-top: 15px;
}

.community-menu{
    color: #999999;
}

.jumbotron{
    margin: 50px;
}
